.sidebar {
    width: 230px;
    height: 100vh;
}

.sidebar-top {
    width: 200px;
    height: 70px;

    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    
    margin-top: 15px;
    margin-left: 15px;

    background-color: #05050b;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.sidebar-mid {
    width: 200px;
    height: calc(100% - 180px);

    margin-left: 15px;
    padding: 10px 0px;

    background-color: #05050b;
}

.sidebar-mid hr {
    background-color: #1f2126;
    height: 1px;
    border: none;
    margin: 15px 0px;
}

.sidebar-mid h4 {
    margin-left: 25px;
    color: rgba(231,238,248,.6);
    font-size: 10px;
}

.sidebar-bottom {
    width: 200px;
    height: 60px;

    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    margin-bottom: 15px;
    margin-left: 15px;

    background-color: #19191f;

    display: flex;
    align-items: center;
}

.sidebar-bottom img {
    width: 30px;
    height: 30px;

    border-radius: 100%;
    margin-left: 15px;
}

.sidebar-bottom-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-bottom-text h1 {
    color: #e7eef8;
    font-size: 12px;
}

.sidebar-bottom-text h4 {
    color: #6c757d;
    font-size: 9px;
}

.sidebar-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav-item {
    display: flex;
    align-items: center;

    width: 175px;
    height: 40px;

    border-radius: 1rem;

    margin: 10px 10px;

    font-size: 12px;
    font-weight: bold;

    transition: background-color .15s ease-in-out;
}

.sidebar-nav-item:hover {
    background-color: #19191f;
}

.sidebar-nav-list .active {
    background-color: #19191f;
}

.sidebar-nav-item svg {
    display: flex;
    margin: 0px 15px;

    font-size: 20px;
    fill: white;
}

.sidebar-nav-item p {
    
}